@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Edu+NSW+ACT+Foundation:wght@500&family=Kanit&family=Source+Sans+Pro:wght@600&display=swap');

:root {
    --bg-color: rgba(209, 163, 252, 0.8);
    --color: #3742db;
    --container-color: #7765b5;
    --border-color: #6450ac;
    --dark-color: #493e70;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: var(--bg-color);
    background-color: transparent;
}

.body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.body::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url('../img/bg-main-menu.png');
    background-position: center center;
    background-size: cover;
    filter: blur(0px);
    z-index: -10;
}

.container-logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 35px;
}

.logo-inicio {
    width: 350px;
    height: 250px;
}

.title {
    font-size: 6rem !important;
    padding: 20px;
    font-family: 'Delicious Handrawn', cursive;
}

.title-2 {
    font-size: 4.3rem;
    padding-top: 20px;
}

.title-3 {
    font-size: 2rem;
}

.label {
    font-size: 1.4rem;
}

#main-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100vh;
    width: 100vw;
    padding: 100px;
}

/* Pantalla inicial */
.inicio {
    text-align: center;
    transition: all 1s ease;
    opacity: 1;
}

.buttons-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 600px;
    padding: 20px 40px;
}

.buttons-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.buttons-novela {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.button {
    width: 100%;
    transition: transform .2s;
    text-align: center;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 10px 5px;
    background-color: var(--container-color);
}

.start {
    background-color: #62c27a;
}

.load {
    background-color: #6288c2;
}

.settings {
    background-color: #8b82be;
}

.window {
    background-color: #8b82be;
}

.exit {
    background-color: #c26262;
}



.button:hover {
    transform: translateY(-5px);
    color: rgb(238, 189, 240);
}

.button:focus {
    transform: translateY(-5px);
    color: var(--color);
}

.pantalla-completa {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}


/* Pantalla config */
.configuracion {
    display: none;
}

/* LIBRETA */
.mini-libreta-config {
    position: relative;

    height: 650px;
    width: 500px;
    border-radius: 10px;

    background-color: #AA96DA;
    box-shadow: -7px 7px #fff, -12px 12px #00000065;
}

.mini-aro-config {
    position: absolute;
    top: 30px;
    right: 7px;

    width: 14px;
    height: 14px;
    border-radius: 50%;

    color: #fff;
    background-color: #fff;
    box-shadow: 0 40px, 0 80px, 0 120px, 0 160px, 0 200px, 0 240px, 0 280px, 0 320px, 0 360px, 0 400px, 0 440px, 0 480px, 0 520px, 0 560px;
}

.mini-linea-config {
    position: absolute;
    top: 3px;
    right: -20px;

    width: 30px;
    height: 8px;
    border-radius: 100px;

    color: rgb(49, 143, 49);
    background-color: rgb(49, 143, 49);
    box-shadow: 0 40px, 0 80px, 0 120px, 0 160px, 0 200px, 0 240px, 0 280px, 0 320px, 0 360px, 0 400px, 0 440px, 0 480px, 0 520px, 0 560px;
}

.mini-hoja__container-config {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.mini-hoja-config {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 70%;
    border-radius: 20px;

    color: var(--container-color);
    background-color: #bfafe6;
}

.form-config {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.configuracion h2 {
    text-align: center;
}

.configuracion h3 {
    margin-top: 20px;
}

/* Pantalla elección de empleadas */
.empleadas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 100%;
    width: 100%;
}

.empleada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    min-width: 300px;
    padding: 2rem;
}

.name {
    font-size: 3rem;
}

.status {
    font-size: 1.4rem;
}

.profile {
    width: 180px;

    border-radius: 50%;
}

.atributes-1 {
    background-color: #bd3333c0;
}

.atributes-2 {
    background-color: #3c33bdc0;
}

.atributes-3 {
    background-color: #33bd3ac0;
}

.atributes-4 {
    background-color: #bdb433c0;
}

/* Sonido */
.vol-master {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    outline: none;
    padding: 0;
    margin: 0;
}

.vol-master::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
}

/* Modal música */
.modal__container {

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    position: absolute;
    padding: 30px;
    border: 1px solid grey;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 3rem;
    width: 50%;
    height: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(243, 240, 240);
}

.play-music, .stop-music {
    width: 50px;
    height: 40px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #20a106;
    color: white;
}

.play-music:hover, .stop-music:hover {
    background-color: #451394;
    color: white;
}

/* Preloader */
.preloader{
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5000;

    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.fadeLoad {
    animation: moveFadeInicio 1s forwards;
}

.fadeIn {
    z-index: 99999999;
    animation: moveFadeIn 1s forwards;
}

.fadeOut {
    z-index: 99999999;
    animation: moveFadeOut 1s forwards;
}

.index {
    z-index: 0;
}

@keyframes moveFadeInicio {
    to {opacity: 0;}

    from {opacity: 1;}
}

@keyframes moveFadeIn {
    from { background-color: transparent;}

    to { background-color: #000;}
}

@keyframes moveFadeOut {
    from { background-color: #000;}

    to { background-color: transparent;}
}

.carga{
    width: 70px;
    height: 70px;
    border-top: 5px solid #451394;
    border-right: 5px solid transparent;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 6000;

    animation: carga 1s linear infinite;
}

.carga > div{
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    height: 100%;

    animation: carga 1s linear infinite;
}

@keyframes carga {
    to{transform: rotate(360deg);}
}

/* Libreta menú */
.mini-libreta {
    position: relative;

    height: 650px;
    width: 500px;
    border-radius: 10px;

    background-color: #AA96DA;
    box-shadow: 7px 7px #fff, 12px 12px #00000065;
}

.mini-aro {
    position: absolute;
    top: 30px;
    left: 7px;

    width: 14px;
    height: 14px;
    border-radius: 50%;

    color: #fff;
    background-color: #fff;
    box-shadow: 0 40px, 0 80px, 0 120px, 0 160px, 0 200px, 0 240px, 0 280px, 0 320px, 0 360px, 0 400px, 0 440px, 0 480px, 0 520px, 0 560px;
}


.mini-linea {
    position: absolute;
    top: 3px;
    left: -20px;

    width: 30px;
    height: 8px;
    border-radius: 100px;

    color: rgb(49, 143, 49);
    background-color: rgb(49, 143, 49);
    box-shadow: 0 40px, 0 80px, 0 120px, 0 160px, 0 200px, 0 240px, 0 280px, 0 320px, 0 360px, 0 400px, 0 440px, 0 480px, 0 520px, 0 560px;
}

.mini-hoja__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.mini-hoja {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 40%;
    border-radius: 20px;

    color: var(--container-color);
    background-color: #bfafe6;
}


/* Libreta */
.libreta-1 {
    position: relative;

    height: 650px;
    width: 500px;
    border-radius: 10px;
    margin: 10px 5px 10px 10px;

    background-color: #ffffff;
}

.libreta-2 {
    position: relative;

    height: 650px;
    width: 500px;
    border-radius: 10px;
    margin: 10px 10px 10px 5px;

    background-color: #ffffff;

}

.barra {
    position: absolute;
    z-index: 0;
    width: 50px;
    height: 670px;
    background-color: var(--dark-color);
    box-shadow: 0px 0px 40px var(--dark-color);
}

.aro-1 {
    position: absolute;
    top: 30px;
    right: 7px;

    width: 14px;
    height: 14px;
    border-radius: 50%;

    color: var(--dark-color);
    background-color: var(--dark-color);
    box-shadow: 0 40px, 0 80px, 0 120px, 0 160px, 0 200px, 0 240px, 0 280px, 0 320px, 0 360px, 0 400px, 0 440px, 0 480px, 0 520px, 0 560px;
}

.aro-2 {
    position: absolute;
    top: 30px;
    left: 7px;

    width: 14px;
    height: 14px;
    border-radius: 50%;

    color: var(--dark-color);
    background-color: var(--dark-color);
    box-shadow: 0 40px, 0 80px, 0 120px, 0 160px, 0 200px, 0 240px, 0 280px, 0 320px, 0 360px, 0 400px, 0 440px, 0 480px, 0 520px, 0 560px;
}

.linea-1 {
    position: absolute;
    top: 3px;
    right: -20px;

    width: 30px;
    height: 8px;
    border-radius: 100px;

    color: rgb(49, 143, 49);
    background-color: rgb(49, 143, 49);
    box-shadow: 0 40px, 0 80px, 0 120px, 0 160px, 0 200px, 0 240px, 0 280px, 0 320px, 0 360px, 0 400px, 0 440px, 0 480px, 0 520px, 0 560px;
}

.linea-2 {
    position: absolute;
    top: 3px;
    left: -20px;

    width: 30px;
    height: 8px;
    border-radius: 100px;

    color: rgb(49, 143, 49);
    background-color: rgb(49, 143, 49);
    box-shadow: 0 40px, 0 80px, 0 120px, 0 160px, 0 200px, 0 240px, 0 280px, 0 320px, 0 360px, 0 400px, 0 440px, 0 480px, 0 520px, 0 560px;
}

.hoja__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
}

.hoja {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* height: 195px; */
    overflow: hidden;
    padding: 20px;

    border-radius: 25px;
    background-color: #ecb5fd;
}

.renglon {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 90%;
    height: 1px;
    color: #c2c2c2;
    background-color: #c2c2c2;
    box-shadow: 0 20px, 0 40px, 0 60px, 0 80px, 0 100px, 0 120px, 0 140px, 0 160px;
}

/* .renglon:first-child {
    margin: 15px 0;
} */


.hoja-atributo {
    position: relative;
    width: 100%;
}

.texto-atributo {
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.especial {
    color: rgb(98, 201, 115);
}

.descripcion-texto {
    font-size: 17px;
    line-height: 20px;
}


/* TABLERO */
#interfaz-tablas {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}


/* TUTORIAL */
.ayuda {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 25px;
    width: 60px;
    height: 60px;
    border: 2px solid var(--border-color);
    border-radius: 50%;    
    color: #fff;
    background-color: var(--container-color);
}


.tablas {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--container-color);
    box-shadow: 10px 8px #00000065;
}

.jornada {
    width: 60%;
    background-color: #62c27a;
}

#descripcion-empleadas {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 80%;

    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;

}


/* CARRUSEL EMPLEADAS */

.swiper {
    width: 200px;
    height: 300px;
    margin-top: 40px;
}

.swiper-slide {
    border-radius: 18px;
    text-align: center;
}

.nombres {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translate(-50%, -6%);

    display: block;
    
    width: 100%;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
}

.swiper-slide {
    background-color: var(--border-color);
}

/* CLIENTESSSSSSSSSS */

.container-img {
    display: flex;
    justify-content: center;   
    margin-top: 25px; 
}

.container-img img {
    border-radius: 10px;
}


/* CONTAINER NOTIFICACIONES */
.container-notificaciones {
    display: flex;
    justify-content: center;    
    margin-bottom: 50px;
}

.container-notificacion {
    text-align: center;
    display: flex;
    justify-content: center;
}

.notificaciones {
    display: flex;
    justify-content: center; 
    align-content: center;
    align-items: center;
    width: 800px;
    height: 150px;    
    background-color: #fff;
    border-radius: 10px;
}

.notificacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem; 
}


.notificacion-img {    
    width: 120px;
    height: 120px;
    border: none;
    border-radius: 50%;
    overflow: hidden;    
    margin-left: 30px;    
}

.notificacion-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-notificacion {
    width: 80%;
    font-size: 18px;
    padding: 0;
    color: #000;
    margin: 0;
}

aside {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    right: 0px;
    width: 400px;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aside-h2 {
    font-family: 'Delicious Handrawn', cursive;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
}

aside form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

form span {
    margin: 10px;
}

.caso-mariano {
    margin: 30px 0px;
}

#jornada-s1 {
    margin: 40px;
}

label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cerrar-j-aside1 {
    width: 100%;
    display: flex;
    justify-content: flex-end;    
}

#close-j-s1 {    
    margin: 20px;
    font-size: 20px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 100px; 
    padding: 10px; 
    background-color: #62c27a;
    color: white;  
}

#close-j-s1:hover {
    background-color: #451394;
    color: white;
}

#envio-f-s1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: #62c27a;
    color: white; 
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    padding: 5px;
}

select {
    border: 1px solid rgb(182, 180, 180);
    padding: 5px;
    border-radius: 10px;
}

#envio-f-s1:hover {
    background-color: #451394;
    color: white;
}

.container-img-cliente {
    width: 110px;
    height: 150px;
    border: "1px solid grey";    
}


.container-img-cliente img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-cliente {
    background-color: white;
    width: 80%;  
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img-clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-card-cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-notificacion {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box-buttons {
    display: flex;
    flex-direction: column;
}