@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');

:root {
    --bg-color: rgba(209, 163, 252, 0.8);
    --color: #3742db;
    --container-color: #7765b5;
    --border-color: #6450ac;
    --dark-color: #493e70;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    width: 100vw;

    background-image: url('assets/fondo/stage1/neutral.png');
    background-position: center center;
}

.neutral {
    background-image: url('assets/fondo/stage1/neutral.png');
}

.enojado {
    background-image: url('assets/fondo/stage1/enojado.png');
}

.mejor {
    background-image: url('assets/fondo/stage1/mejor.png');
}

.peor {
    background-image: url('assets/fondo/stage1/peor.png');
}

.triste {
    background-image: url('assets/fondo/stage1/triste.png');
}

.body::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -10;
}

/* Novela */
.novela {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 100%;
    height: 100%;
    padding: 2rem;
}

.img-empleadas {
    display: flex;
    gap: 6rem;
}

.img {
    position: absolute;
    bottom: 0;
    left: 20%;
    max-height: 900px;
}

.name-empleada__container {
    position: absolute;
    top: -50px;
    width: 200px;
    height: 40px;
}

.name-empleada {
    font-size: 3rem;
}

.dialogo__container {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    
    width: 95%;
    height: 250px;
    border-radius: 25px;
    padding: 30px;
    font-size: 20px;
    font-family: 'Delicious Handrawn', cursive;
    color: #fff;


    background-color: #7665b59d;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    z-index: 0;
}

.contenido-row {
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 2;
}

.contenido-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    z-index: 2;
}

.dialogo {
    font-size: 2.3rem;
}

/* Botones */

.buttons {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 60%;
}

.button {
    /* visibility: hidden; */
    width: 100%;
    transition: transform .2s;
    text-align: center;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 10px 5px;
    background-color: var(--container-color);
}

.iniciar {
    position: absolute;
    bottom: 400px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30%;
    transition: transform .2s;
    text-align: center;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 50px;
    padding: 10px 5px;
    border: 5px solid var(--border-color);
    background-color: var(--container-color);

    transition: background .3s;
}

.backTablas {
    display: none;
    position: absolute;
    bottom: 400px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30%;
    transition: transform .2s;
    text-align: center;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 50px;
    padding: 10px 5px;
    border: 5px solid var(--border-color);
    background-color: var(--container-color);

    transition: background .3s;
}

.siguiente {
    background-color: #62c27a;
}

.load {
    background-color: #6288c2;
}

.settings {
    background-color: #8b82be;
}

.window {
    background-color: #8b82be;
}

.anterior {
    background-color: #c26262;
}

.anterior, .siguiente, .settings {
    visibility: hidden;
}

.button:hover {
    transform: translateY(-5px);
    color: rgb(238, 189, 240);
}

.button:focus {
    transform: translateY(-5px);
    color: var(--color);
}

.iniciar:hover, .backTablas:hover {
    color: rgb(238, 189, 240);
    background-color: #7665b59d;
}

.iniciar:active, .backTablas:active {
    color: rgb(238, 189, 240);
    background-color: #2a22469d;
}




.respuesta {
    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 20px;
    padding: 15px;
    color: #fff;
    background-color: #7765b5;
    border: none;
}

.respuesta:first-child {
    bottom: 225%;
    transform: translate(-50%, -0);
}

.respuesta:last-child {
    bottom: 300%;
    transform: translate(-50%, 0);
}

.respuesta:hover {
    background-color: #7665b5b7;
}



/* Efectos */

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.fadeLoad {
    animation: moveFadeInicio 1s forwards;
}

.fadeIn {
    z-index: 99999999;
    animation: moveFadeIn 1s forwards;
}

.fadeOut {
    z-index: 99999999;
    animation: moveFadeOut 1s forwards;
}

.index {
    z-index: 0;
}

@keyframes moveFadeInicio {
    to {opacity: 0;}

    from {opacity: 1;}
}

@keyframes moveFadeIn {
    from { background-color: transparent;}

    to { background-color: #000;}
}

@keyframes moveFadeOut {
    from { background-color: #000;}

    to { background-color: transparent;}
}




/* Fade */
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.fadeLoad {
    animation: moveFadeInicio 1s forwards;
}

.fadeIn {
    z-index: 99999999;
    animation: moveFadeIn 1s forwards;
}

.fadeOut {
    z-index: 99999999;
    animation: moveFadeOut 1s forwards;
}

.index {
    z-index: 0;
}

@keyframes moveFadeInicio {
    to {opacity: 0;}

    from {opacity: 1;}
}

@keyframes moveFadeIn {
    from { background-color: transparent;}

    to { background-color: #000;}
}

@keyframes moveFadeOut {
    from { background-color: #000;}

    to { background-color: transparent;}
}